@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;300;400;500;600;700;800&display=swap');


:root{
  --ff--primary:"Open Sans", sans-serif;
  --ff--secondary:"Work Sans", sans-serif;

  --clr--primary-red:#ad070e;
  --clr--gray-shade: #6b6b6b;
  --clr--notWHite: #fafafa;
  --clr--blue: #024f87;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-logo{
    width: 250px;
}
.nav-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 60px;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0/0.1);
    font-family: var(--ff--primary);
    font-size: 16px;
    font-weight: 500;

}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.list a{
  text-decoration: none;
  padding: 0 20px;
  color: black;
}
.list a:hover{
  color: var(--clr--primary-red);
}
.home a{
  color: var(--clr--primary-red);
}

.btn {
    background-color: var(--clr--primary-red);
    color: white;
    font-size: 16px;
    border: none;
    width: 197px;
    height: 52px;
    font-weight: 500;
    line-height: 22.5px;
    
  }
  
  .btn:hover {
    text-decoration: none;
  }
  .nav-drop span{
    position: absolute;
  }
  .nav-drop{
    position: relative;
    padding: 10px;
  }
  .dropdown-links{
    background-color:white;
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    margin-top: 10px;
    left: 30px;
    width: 250px;
    display: none;
    box-shadow: 0 3px 10px rgb(0 0 0/0.1);

  }
.nav-drop:hover .dropdown-links{
  display: block;


  }


  .dropdown-links li{
    padding: 10px 0;
    border-bottom: rgba(102, 102, 102,0.1) dashed;
    border-width: 2px;
    
  }

  .dropdown-links li:last-child{
    border: none;
  }
  
.hero{
  background-image:
    linear-gradient(to bottom, rgba(2,79,135,0.5), rgba(2,79,135,0.5)),
    url("./images/BIM.png");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 70% right 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  background-color: rgb(0 0 0/0.4);
}
.hero-description{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.hero-description p{
  background-color: white;
  color: var(--clr--primary-red);
  font-size: 16px;
  line-height: 24px;
  width: 333px;
  text-align: start;
  padding: 5px 5px;
  font-weight: 400;
  font-family: var(--ff--primary);
  margin-bottom: 10px;


}
.hero-description h1{
  color: white;
  font-family: var(--ff--secondary);
  font-size: 55px;
  margin-bottom: 40px;
}
.hero-btns{
  margin-top: 200px;
  display: flex;
  gap: 150px;
}

.hero-btns .btn-2{
  background: transparent;
  border: none;
  padding: 15px 20px;
  color: white;
  font-size: 16px;
  transition: all ease-in .3s;
  font-weight: 400;
}
.hero-btns .btn-2:hover{
  color: red;
  background: white;
  transform: translateX(10px) scale(1.1);
}
/**Find out More section**/
.Our-features{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px;

}
.about-description{
  display: flex;
  flex-direction: column; 
  padding-left: 30px;
  align-self: start;
  font-family: var(--ff--primary);
}
.about-description h1{
  font-family: var(--ff--secondary);
}
.about-description p{
  color: #6b6b6b;
  font-size: 15px;
  line-height: 27px;
  padding: 30px 0;
}
.description-head{
  color: var(--clr--primary-red);
}

.courses-section{
  display: flex;
  flex-direction: column;
  padding: 10rem 60px;
  justify-content: space-between;
  background-color: var(--clr--notWHite);
}
.course{
  margin-right: 32px;
  border: 1px solid rgba(107,107,107,0.2);
  background-color: white;
}
.course img{
  max-height: 286px;
  max-width: 410px;
}
.course h4{
  padding: 20px 20px;
  font-size: 23px;
  font-family: var(--ff--secondary);
}
.course p{
  padding: 20px 20px;
  font-size: 15px;
  font-family: var(--ff--primary);
  color: var(--clr--gray-shade);
}
.course-container{
  display: flex;
  flex: content;
 justify-content: space-between;


}
.course:hover h4{
   color: var(--clr--primary-red);
   
}
.course:hover{
  box-shadow: 17px 18px 30px -7px rgba(108,108,108,0.85);
-webkit-box-shadow: 17px 18px 30px -7px rgba(108,108,108,0.85);
-moz-box-shadow: 17px 18px 30px -7px rgba(108,108,108,0.85);
}
.courses-section h1{
  padding-bottom: 51px;
}
.btn-3{
  margin: 0 20px;
  margin-bottom: 22px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: var(--ff--primary);
  border: none;
  background-color: transparent;
  transition: letter-spacing .3s ease-in-out;
  max-width: 162px;
}
.btn-3:hover{
  letter-spacing: 2.5px;
  color: var(--clr--primary-red);
}
.btn-3 span{
  position: relative;
  top: 8px;

}


/**Notices section**/

.notices-section{
  background-color: #f9f5f1;
  padding: 100px 60px;
  display: flex;
}
.recent-notice h6{
  color: var(--clr--primary-red);
  font-size: 15px;
  font-family: var(--ff--primary);
}
.recent-notice h4{
  font-size: 45px;
  font-family: var(--ff--secondary);
  margin-bottom: 50px;
}
.notice-section-row{
  display: flex;
  
}
.date{
  background-color: #024f87;
  color: white;
  font-family: var(--ff--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 30px;
  margin-right: 38px;
  height: 116px;
}

.date:hover{
  background-color: var(--clr--primary-red);
}
.notice-description h2{
  font-size: 24px;
  font-family: var(--ff--secondary);
  margin-bottom: 15px;
}
.notice-description p{
  color: var(--clr--gray-shade);
  font-family: var(--ff--primary);
  font-size: 15px;
  margin-bottom: 18px;
  line-height: 27px;
}
.notice-description:hover h2{
  color: var(--clr--primary-red);
}

.notice-description .btn-3{
  color: black;
  background-color: #f9f5f1;
  margin-left: -1px;
} 
.btn-3:hover{
  color: var(--clr--primary-red);
}
.event-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.event-container h1{
  font-size: 45px;
  font-family: var(--ff--secondary);
}
.event-container h6{
  font-size: 15px;
  font-family: var(--ff--primary);
  color: var(--clr--primary-red);
}


/**Admission procedure section**/
.admission-section{
  display: flex;
  padding: 100px 60px;
  align-items: center;
}

.col-2{
  display: flex;
  flex-direction: column;
  background-color: var(--clr--primary-red);
  height: 451px;
  padding: 50px;
  color: white;
  font-family: var(--ff--primary);

}
.col-2 h6{
  margin-bottom: 10px;
  font-size: 15px;
}
.col-2 h3{
  font-family: var(--ff--secondary);
  margin-bottom: 20px;
  font-size: 40px;

}
.col-2 p{
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 27px;
}
.col-2 .btn-3{
  margin-left: -10px;
  color: white;
}



/**Our services section**/

.Our-services-section{
display: flex;
flex-direction: column;
text-align: center;
padding: 50px 60px;
margin-bottom: 70px;
}
.Our-services-section h2{
  font-size: 45px;
  font-family: var(--ff--secondary);
  margin-bottom: 50px;
}
.services-container{
  display: flex;
  
}
.service{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 24px;
  padding: 31px;
  border: 1px solid rgba(108,108,108,0.85);
  transition: all 0.3s ease-in-out;
  
  margin-bottom: 30px;
}
.service:hover{
  transform: translate(0,-4px);
}
.icon{
  background-color: var(--clr--blue);

  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i{
  font-size: 50px;
  color: white;
  }
.service-description{
  text-align: start;
}
.service h4{
  font-size: 25px;
  line-height: 30px;
  margin: 15px 0;
  font-family: var(--ff--secondary);
}
.service p{
  font-size: 15px;
  line-height: 27px;
  color: var(--clr--gray-shade);
  font-family: var(--ff--primary);

}
